body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
  min-height: 100vh;
  /* Ensure the container covers the full viewport height */
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
  flex-direction: column;
  gap: 1em;
}

#reader {
  width: 100%;
  border: none !important;
}

button,
.btn {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1em;
  text-decoration: none;
}

#refreshButton {
  display: none;
}

button:hover {
  background-color: #0056b3;
}

#alert_container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1001;
  user-select: none;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  position: absolute;
  padding: 10px 20px;
  background-color: #2196F3; /* Red */
  color: white;
  border-radius: 8px;
  user-select: none;
  animation: appear 0.5s linear 0s 1 alternate, disappear 0.5s linear 3.5s 1 alternate;
  transition: 0.5;
}

@keyframes appear {
  from{
      transform: translateY(-50px);
      opacity: 0;
  }
  to{
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes disappear {
  
  from{
      transform: translateY(0);
      opacity: 1;
  }
  to{
      transform: translateY(-50px);
      opacity: 0;
  }
}

.alert span{
  font-size: 0.9rem;
}