* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }

body{
    overflow: hidden;
    background: linear-gradient(68.2deg, rgb(7, 3, 98) -0.1%, rgb(179, 26, 132) 47.7%, rgb(239, 186, 83) 100.2%);
}

::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: #242424;
}
.main{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 120vh;
}

.wheel{
    position: relative;
    flex: 7;
    height: 100%;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#spin_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    cursor: pointer;
    border: 0;
    background: #3d3d3d;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    clip-path: polygon( 100% 100%,99% 100%,98% 100%,97% 100%,96% 100%,95% 100%,94% 100%,93% 100%,92% 100%,91% 100%,90% 100%,89% 100%,88% 100%,87% 100%,86% 100%,85% 100%,84% 100%,83% 100%,82% 100%,81% 100%,80% 100%,79% 100%,78% 100%,77% 100%,76% 100%,75% 100%,74% 100%,73% 100%,72% 100%,71% 100%,70% 100%,69% 100%,68% 100%,67% 100%,66% 100%,65% 100%,64% 100%,63% 100%,62% 100%,61% 100%,60% 100%,59% 100%,58% 100%,57% 100%,56% 100%,55% 100%,54% 100%,53% 100%,52% 100%,51% 100%,50% 100%,100.0% 50.0%,99.5% 42.94663201016706%,99.0% 40.0501256289338%,98.5% 37.84475421885678%,98.0% 36.0%,97.5% 34.387505004004005%,97.0% 32.94127789076802%,96.5% 31.622024050510895%,96.0% 30.404082057734577%,95.5% 29.26958755837212%,95.0% 28.20550528229663%,94.5% 27.201973769644006%,94.0% 26.251315825924166%,93.5% 25.3474139287579%,93.0% 24.485298355653853%,92.5% 23.660865617868154%,92.0% 22.870680067498927%,91.5% 22.111830465231318%,91.0% 21.38182395749163%,90.5% 20.6785061772085%,90.0% 20.0%,89.5% 19.344657888061338%,89.0% 18.71102430567597%,88.5% 18.09780571810146%,88.0% 17.503846381456157%,87.5% 16.928108611692615%,87.0% 16.369656558399527%,86.5% 15.82764275031645%,86.0% 15.301296854205056%,85.5% 14.789916217083494%,85.0% 14.292857857285753%,84.5% 13.809531641604856%,84.0% 13.339394440353281%,83.5% 12.881945094065074%,83.0% 12.436720058014103%,82.5% 12.003289616073339%,82.0% 11.581254575402909%,81.5% 11.170243369292152%,81.0% 10.769909508133935%,80.5% 10.379929328684938%,80.0% 10.0%,79.5% 9.629837751131099%,79.0% 9.269176291167398%,78.5% 8.917765396707061%,78.0% 8.57536964558404%,77.5% 8.241767278774837%,77.0% 7.9167491749983725%,76.5% 7.600117924692292%,76.0% 7.291686991874755%,75.5% 6.991279953944222%,75.0% 6.698729810778069%,74.5% 6.413878355604979%,74.0% 6.136575601077382%,73.5% 5.866679254785282%,73.0% 5.6040542391537755%,72.5% 5.3485722512706175%,72.0% 5.100111358712702%,71.5% 4.858555627893338%,71.0% 4.623794781846293%,70.5% 4.395723884705724%,70.0% 4.1742430504416035%,69.5% 3.959257173672796%,69.0% 3.7506756806112875%,68.5% 3.5484122983939343%,68.0% 3.352384841237594%,67.5% 3.1625150120120153%,67.0% 2.9787282179650134%,66.5% 2.8009533994594307%,66.0% 2.6291228706919583%,65.5% 2.4631721714626806%,65.0% 2.3030399291527175%,64.5% 2.1486677301456965%,64.0% 2.0%,63.5% 1.8569838917418906%,63.0% 1.7195691817067598%,62.5% 1.5877081724072895%,62.0% 1.4613556019536134%,61.5% 1.3404685595925585%,61.0% 1.2250064069712039%,60.5% 1.1149307047642623%,60.0% 1.0102051443364388%,59.5% 0.9107954841392853%,59.0% 0.8166694905682519%,58.5% 0.7277968830294768%,58.0% 0.6441492829877333%,57.5% 0.5657001667870318%,57.0% 0.49242482205374927%,56.5% 0.42430030750952596%,56.0% 0.36130541603657207%,55.5% 0.3034206408529556%,55.0% 0.2506281446690011%,54.5% 0.20291173170865306%,54.0% 0.16025682249155437%,53.5% 0.12265043128294195%,53.0% 0.09008114612888107%,52.5% 0.06253911140455415%,52.0% 0.04001601281281353%,51.5% 0.022505064779409167%,51.0% 0.010001000200048793%,50.5% 0.0025000625031239565%,50.0% 0.0%,49.5% 0.0025000625031239565%,49.0% 0.010001000200048793%,48.5% 0.022505064779409167%,48.0% 0.04001601281281353%,47.5% 0.06253911140455415%,47.0% 0.09008114612888107%,46.5% 0.12265043128294195%,46.0% 0.16025682249155437%,45.5% 0.20291173170865306%,45.0% 0.2506281446690011%,44.5% 0.3034206408529556%,44.0% 0.36130541603657207%,43.5% 0.42430030750952596%,43.0% 0.49242482205374927%,42.5% 0.5657001667870318%,42.0% 0.6441492829877333%,41.5% 0.7277968830294768%,41.0% 0.8166694905682519%,40.5% 0.9107954841392853%,40.0% 1.0102051443364388%,39.5% 1.1149307047642623%,39.0% 1.2250064069712039%,38.5% 1.3404685595925585%,38.0% 1.4613556019536134%,37.5% 1.5877081724072895%,37.0% 1.7195691817067598%,36.5% 1.8569838917418906%,36.0% 2.0%,35.5% 2.1486677301456965%,35.0% 2.3030399291527175%,34.5% 2.4631721714626806%,34.0% 2.6291228706919583%,33.5% 2.8009533994594307%,33.0% 2.9787282179650134%,32.5% 3.1625150120120153%,32.0% 3.352384841237594%,31.5% 3.5484122983939343%,31.0% 3.7506756806112875%,30.5% 3.959257173672796%,30.0% 4.1742430504416035%,29.5% 4.395723884705724%,29.0% 4.623794781846293%,28.5% 4.858555627893338%,28.0% 5.100111358712702%,27.5% 5.3485722512706175%,27.0% 5.6040542391537755%,26.5% 5.866679254785282%,26.0% 6.136575601077382%,25.5% 6.413878355604979%,25.0% 6.698729810778069%,24.5% 6.991279953944222%,24.0% 7.291686991874755%,23.5% 7.600117924692292%,23.0% 7.9167491749983725%,22.5% 8.241767278774837%,22.0% 8.57536964558404%,21.5% 8.917765396707061%,21.0% 9.269176291167398%,20.5% 9.629837751131099%,20.0% 10.0%,19.5% 10.379929328684938%,19.0% 10.769909508133935%,18.5% 11.170243369292152%,18.0% 11.581254575402909%,17.5% 12.003289616073339%,17.0% 12.436720058014103%,16.5% 12.881945094065074%,16.0% 13.339394440353281%,15.5% 13.809531641604856%,15.0% 14.292857857285753%,14.5% 14.789916217083494%,14.0% 15.301296854205056%,13.5% 15.82764275031645%,13.0% 16.369656558399527%,12.5% 16.928108611692615%,12.0% 17.503846381456157%,11.5% 18.09780571810146%,11.0% 18.71102430567597%,10.5% 19.344657888061338%,10.0% 20.0%,9.5% 20.6785061772085%,9.0% 21.38182395749163%,8.5% 22.111830465231318%,8.0% 22.870680067498927%,7.5% 23.660865617868154%,7.0% 24.485298355653853%,6.5% 25.3474139287579%,6.0% 26.251315825924166%,5.5% 27.201973769644006%,5.0% 28.20550528229663%,4.5% 29.26958755837212%,4.0% 30.404082057734577%,3.5% 31.622024050510895%,3.0% 32.94127789076802%,2.5% 34.387505004004005%,2.0% 36.0%,1.5% 37.84475421885678%,1.0% 40.0501256289338%,0.5% 42.94663201016706%,0.0% 50.0%,0.0% 50.0%,0.5% 57.05336798983294%,1.0% 59.9498743710662%,1.5% 62.15524578114322%,2.0% 64.0%,2.5% 65.612494995996%,3.0% 67.05872210923198%,3.5% 68.3779759494891%,4.0% 69.59591794226543%,4.5% 70.73041244162788%,5.0% 71.79449471770337%,5.5% 72.79802623035599%,6.0% 73.74868417407583%,6.5% 74.6525860712421%,7.0% 75.51470164434615%,7.5% 76.33913438213185%,8.0% 77.12931993250108%,8.5% 77.88816953476868%,9.0% 78.61817604250837%,9.5% 79.3214938227915%,10.0% 80.0%,10.5% 80.65534211193867%,11.0% 81.28897569432402%,11.5% 81.90219428189855%,12.0% 82.49615361854384%,12.5% 83.07189138830739%,13.0% 83.63034344160047%,13.5% 84.17235724968356%,14.0% 84.69870314579495%,14.5% 85.21008378291651%,15.0% 85.70714214271425%,15.5% 86.19046835839515%,16.0% 86.66060555964671%,16.5% 87.11805490593493%,17.0% 87.5632799419859%,17.5% 87.99671038392665%,18.0% 88.41874542459709%,18.5% 88.82975663070785%,19.0% 89.23009049186606%,19.5% 89.62007067131506%,20.0% 90.0%,20.5% 90.3701622488689%,21.0% 90.7308237088326%,21.5% 91.08223460329293%,22.0% 91.42463035441597%,22.5% 91.75823272122517%,23.0% 92.08325082500163%,23.5% 92.39988207530772%,24.0% 92.70831300812524%,24.5% 93.00872004605577%,25.0% 93.30127018922192%,25.5% 93.58612164439502%,26.0% 93.86342439892262%,26.5% 94.13332074521472%,27.0% 94.39594576084622%,27.5% 94.65142774872939%,28.0% 94.8998886412873%,28.5% 95.14144437210666%,29.0% 95.3762052181537%,29.5% 95.60427611529428%,30.0% 95.8257569495584%,30.5% 96.0407428263272%,31.0% 96.2493243193887%,31.5% 96.45158770160606%,32.0% 96.6476151587624%,32.5% 96.83748498798798%,33.0% 97.02127178203499%,33.5% 97.19904660054057%,34.0% 97.37087712930804%,34.5% 97.53682782853733%,35.0% 97.69696007084728%,35.5% 97.85133226985431%,36.0% 98.0%,36.5% 98.14301610825811%,37.0% 98.28043081829324%,37.5% 98.41229182759271%,38.0% 98.53864439804639%,38.5% 98.65953144040745%,39.0% 98.7749935930288%,39.5% 98.88506929523574%,40.0% 98.98979485566356%,40.5% 99.08920451586071%,41.0% 99.18333050943176%,41.5% 99.27220311697053%,42.0% 99.35585071701226%,42.5% 99.43429983321298%,43.0% 99.50757517794625%,43.5% 99.57569969249047%,44.0% 99.63869458396343%,44.5% 99.69657935914705%,45.0% 99.74937185533099%,45.5% 99.79708826829135%,46.0% 99.83974317750844%,46.5% 99.87734956871705%,47.0% 99.90991885387112%,47.5% 99.93746088859544%,48.0% 99.95998398718719%,48.5% 99.97749493522059%,49.0% 99.98999899979995%,49.5% 99.99749993749688%,50.0% 100.0%,100% 50%,100% 51%,100% 52%,100% 53%,100% 54%,100% 55%,100% 56%,100% 57%,100% 58%,100% 59%,100% 60%,100% 61%,100% 62%,100% 63%,100% 64%,100% 65%,100% 66%,100% 67%,100% 68%,100% 69%,100% 70%,100% 71%,100% 72%,100% 73%,100% 74%,100% 75%,100% 76%,100% 77%,100% 78%,100% 79%,100% 80%,100% 81%,100% 82%,100% 83%,100% 84%,100% 85%,100% 86%,100% 87%,100% 88%,100% 89%,100% 90%,100% 91%,100% 92%,100% 93%,100% 94%,100% 95%,100% 96%,100% 97%,100% 98%,100% 99%,100% 100%);
    transform: translate(-50%, -50%) rotateZ(-45deg);
    z-index: 2;
    

}

#spin_btn::after{
    content: 'NHẤN';
    transform: rotateZ(45deg);
}

.bg_spin_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-color: #fff;
    height: 29%;
    width: 29%;
    border-radius: 50%;
    animation: zoom-in-out 0.6s 0.5s infinite ease-in alternate;
}

@keyframes  zoom-in-out{
    to{
        height: 29%;
        width: 29%;
    }
    from{
        height: 26%;
        width: 26%;
    }
}

#target {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3d3d3d;
    
    top: 50%;
    right: 0;
    
}

.title h1{
    margin: 0;
}

.options{
    flex: 3;
    padding: 10px;
    display: flex;
    justify-content: start;
    
    flex-direction: column;
    height: 100%;
}

.options .close-options{
    color: #fff;
    font-size: 2rem;
    float: right;
    cursor: pointer;
    z-index: 10;
}

.options .result{
    margin-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    overflow: hidden;
}

.options .result .main-result{
    border: 2px solid #000;
    min-height: 200px;
    max-height: 200px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#input{
    padding: 10px;
    resize: none;
}

#input::placeholder { 
    font-style: italic;
    font-weight: 400;
}



#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }

#dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    border-radius: 5px;
    
    min-height: 100px;
    overflow: hidden;
    
    
  }
  
#dialog .close{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    cursor: pointer;
    

}

#dialog .container{
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#dialog .groupBTN{
    display: flex;
    margin: 20px 0;
    float: right;
}
  
#dialog .btn{
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    
}

#dialog .remove{
    background-color: #d32a2a;
    color: #ffffff;
}

#dialog .header, #dialog .content{
    height: max-content;
    padding: 10px;
    
}

#dialog .header{
    margin-bottom: 10px;
}

#dialog .header span{
    font-weight: 600;
    width: 100%;
}

.btns{
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
}

.btns .btn{
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    background-color: #006eff;
    color: #fff;
    font-weight: 600;
}

.btns .btn[disabled=true]{
    background-color: #949494 !important;
    cursor: not-allowed ;
}

.btns .btn:hover{
    background-color: #949494 !important;
}

#auto_delete,
label[for="auto_delete"]{
    margin-right: 10px;
}

.count{
    border: 1px solid #5f5f5f5d;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60px;
}

.count:disabled{
    cursor: not-allowed;
}

.main-result div{
    padding: 5px;
    height: max-content;
    width: 100%;
}

.main-result div:nth-child(even) {
    background-color: #eee;
}
  
.main-result div:nth-child(odd) {
    background-color: #fff;
}

.result .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result .header .btn{
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    background-color: #006eff;
    color: #ffffff;
}
.wheel .btn{
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 3;
}

.wheel .btn i{
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    margin-right: 20px;
}

/* Màn hình Mobile */
@media screen and (max-width:767px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .main .wheel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #spinWheel{
        margin-top: 20px;
        
    }
    .options{
        font-size: 12px;
        display: none;
    }

    .options .editInput{
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .options textarea{
        width: 90%;
    }

    .main .title{
        color: #fff;
    }

    .spinner{
        width: 35rem;
    }

    
  }
  
  /* Màn hình desktop */
  @media screen and (min-width:1024px) {
    .mobile-view{
        display: none;
    }
    
  }
  





